<template>
  <div class="tab-container">
    <el-tabs
      v-model="activeName"
      style="margin-top:15px"
      type="border-card"
    >
      <el-tab-pane
        v-for="item in tabMapOptions"
        :key="item.key"
        :label="item.label"
        :name="item.key"
      >
        <questions
            v-if="activeName === item.key"
            :type="item.key"
            @create="showCreatedTimes"
          />
      </el-tab-pane>
    </el-tabs>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Watch } from 'vue-property-decorator'
import TabPane from './components/TabPane.vue'
import Questions from './components/Questions.vue'

@Component({
  name: 'Tab',
  components: {
    Questions
  }
})
export default class extends Vue {
  private tabMapOptions = [
    { label: '判断题', key: 'trueFalse' },
    { label: '单选题', key: 'oneSelect' },
  ]

  private activeName = 'trueFalse'
  private createdTimes = 0

  @Watch('activeName')
  private onActiveNameChange(value: string) {
    this.$router.push(`${this.$route.path}?tab=${value}`).catch(err => {
      console.warn(err)
    })
  }

  created() {
    // Init the default selected tab
    const tab = this.$route.query.tab as string
    if (tab) {
      this.activeName = tab
    }
  }

  private showCreatedTimes() {
    this.createdTimes = this.createdTimes + 1
  }
}
</script>

<style lang="scss" scoped>
.tab-container {
  margin: 30px;
}
</style>
