<template>
  <div class="app-container">
    <div class="filter-container">
      <el-button
        class="filter-item"
        style="margin-left: 10px;"
        type="primary"
        icon="el-icon-edit"
        @click="handleCreate"
      >
        {{ $t('table.add') }}
      </el-button>
      <el-button
        v-waves
        :loading="downloadLoading"
        class="filter-item"
        type="primary"
        icon="el-icon-upload"
        @click="handleDownload"
      >
        {{ $t('table.import') }}
      </el-button>
    </div>

    <el-table
      :key="tableKey"
      v-loading="listLoading"
      :data="list"
      border
      fit
      highlight-current-row
      style="width: 100%;"
    >
      <el-table-column
        :label="$t('table.id')"
        prop="id"
        align="center"
        width="80"
      >
        <template slot-scope="{row}">
          <span>{{ row.id }}</span>
        </template>
      </el-table-column>
      <el-table-column
        :label="$t('table.question')"
        min-width="150px"
      >
        <template slot-scope="{row}">
          <span
            class="link-type"
            @click="handleUpdate(row)"
          >{{ row.question }}</span>
        </template>
      </el-table-column>
      <el-table-column
        label="A"
        v-if="type==='oneSelect'"
        min-width="150px"
      >
        <template slot-scope="{row}">
          <span
            class="link-type"
            @click="handleUpdate(row)"
          >{{ row.selects[0].context }}</span>
        </template>
      </el-table-column>
      <el-table-column
        label="B"
        v-if="type==='oneSelect'"
        min-width="150px"
      >
        <template slot-scope="{row}">
          <span
            class="link-type"
            @click="handleUpdate(row)"
          >{{ row.selects[1].context }}</span>
        </template>
      </el-table-column>
      <el-table-column
        label="C"
        v-if="type==='oneSelect'"
        min-width="150px"
      >
        <template slot-scope="{row}">
          <span
            class="link-type"
            @click="handleUpdate(row)"
          >{{ row.selects[2].context }}</span>
        </template>
      </el-table-column>
      <el-table-column
        :label="$t('table.answer')"
        min-width="150px"
      >
        <template slot-scope="{row}">
          <span
            class="link-type"
            @click="handleUpdate(row)"
          >{{ row.answer }}</span>
        </template>
      </el-table-column>
      <el-table-column
        :label="$t('table.actions')"
        align="center"
        width="230"
        class-name="fixed-width"
      >
        <template slot-scope="{row, $index}">
          <el-button
            type="primary"
            size="mini"
            @click="handleUpdate(row)"
          >
            {{ $t('table.edit') }}
          </el-button>
          <el-button
            v-if="row.status!=='deleted'"
            size="mini"
            type="danger"
            @click="handleDelete(row, $index)"
          >
            {{ $t('table.delete') }}
          </el-button>
        </template>
      </el-table-column>
    </el-table>

    <pagination
      v-show="total>0"
      :total="total"
      :page.sync="listQuery.page_num"
      :limit.sync="listQuery.page_size"
      @pagination="getList"
    />

    <el-dialog
      :title="textMap[dialogStatus]"
      :visible.sync="dialogFormVisible"
    >
      <el-form
        ref="dataForm"
        :rules="rules"
        :model="tempArticleData"
        label-position="left"
        label-width="100px"
        style="width: 400px; margin-left:50px;"
      >
        <el-form-item
          :label="$t('table.question')"
          prop="name"
        >
          <el-input v-model="tempArticleData.question" />
        </el-form-item>
        <el-form-item
          label="A"
          v-if="type==='oneSelect'"
          prop="name"
        >
          <el-input v-model="tempArticleData.selects[0].context" />
        </el-form-item>
        <el-form-item
          label="B"
          v-if="type==='oneSelect'"
          prop="name"
        >
          <el-input v-model="tempArticleData.selects[1].context" />
        </el-form-item>
        <el-form-item
          label="C"
          v-if="type==='oneSelect'"
          prop="name"
        >
          <el-input v-model="tempArticleData.selects[2].context" />
        </el-form-item>
        <el-form-item
          :label="$t('table.answer')"
          v-if="type==='oneSelect'"
          prop="name"
        >
          <el-input v-model="tempArticleData.answer" />
        </el-form-item>
        <el-form-item
          :label="$t('table.answer')"
          v-if="type==='trueFalse'"
          prop="name"
        >
          <el-select v-model="tempArticleData.answer" placeholder="正确">
            <el-option v-for="item in trueFalseOptions"
                       :key="item.select"
                       :label="item.context"
                       :value="item.select">
            </el-option>
          </el-select>
        </el-form-item>
      </el-form>
      <div
        slot="footer"
        class="dialog-footer"
      >
        <el-button @click="dialogFormVisible = false">
          {{ $t('table.cancel') }}
        </el-button>
        <el-button
          type="primary"
          @click="dialogStatus==='create'?createData():updateData()"
        >
          {{ $t('table.confirm') }}
        </el-button>
      </div>
    </el-dialog>
    <el-dialog
      :visible.sync="dialogUploadVisible"
      :close-on-press-escape="true"
    >
      <upload-excel-component
        :on-success="handleSuccess"
        :before-upload="beforeUpload"
      />
    </el-dialog>
    <el-dialog
      :visible.sync="dialogPageviewsVisible"
      title="Reading statistics"
    >
      <el-table
        :data="pageviewsData"
        border
        fit
        highlight-current-row
        style="width: 100%"
      >
        <el-table-column
          prop="key"
          label="Channel"
        />
        <el-table-column
          prop="pageviews"
          label="Pageviews"
        />
      </el-table>
      <span
        slot="footer"
        class="dialog-footer"
      >
        <el-button
          type="primary"
          @click="dialogPageviewsVisible = false"
        >{{ $t('table.confirm') }}</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script lang="ts">
import {Component, Prop, Vue} from 'vue-property-decorator'
import { Form } from 'element-ui'
import { cloneDeep } from 'lodash'
import { getList,create,deleteOne,update } from '@/api/crud'
import {IQuestionData, IQuestionIPOArr, IQuestionIPO} from '@/api/types'
import { exportJson2Excel } from '@/utils/excel'
import { formatJson } from '@/utils'
import Pagination from '@/components/Pagination/index.vue'
import UploadExcelComponent from '@/components/UploadExcel/index.vue'

const calendarTypeOptions = [
  { key: 'CN', displayName: 'China' },
  { key: 'US', displayName: 'USA' },
  { key: 'JP', displayName: 'Japan' },
  { key: 'EU', displayName: 'Eurozone' }
]

// arr to obj, such as { CN : "China", US : "USA" }
const calendarTypeKeyValue = calendarTypeOptions.reduce((acc: { [key: string]: string }, cur) => {
  acc[cur.key] = cur.displayName
  return acc
}, {}) as { [key: string]: string }

@Component({
  name: 'Questions',
  components: {
    UploadExcelComponent,
    Pagination
  },
})
export default class extends Vue {
  @Prop({ default: 'trueFalse' }) private type!: string
  private trueFalseOptions = [
    { select: '正确' ,context:'正确'},
    { select: '错误' ,context:'错误'}
  ]
  private tableKey = 0
  private list: IQuestionData[] = []
  private total = 0
  private listLoading = true
  private listQuery = {
    type:this.type,
    page_num: 1,
    page_size: 20,
  }

  private importanceOptions = [1, 2, 3]
  private calendarTypeOptions = calendarTypeOptions
  private sortOptions = [
    { label: 'ID Ascending', key: '+id' },
    { label: 'ID Descending', key: '-id' }
  ]

  private statusOptions = ['published', 'draft', 'deleted']
  private showReviewer = false
  private dialogFormVisible = false
  private dialogUploadVisible = false
  private dialogStatus = ''
  private textMap = {
    update: 'Edit',
    create: 'Create'
  }

  private dialogPageviewsVisible = false
  private pageviewsData = []
  private rules = {
    answer: [{ required: true, message: '答案不能为空', trigger: 'change' }],
    question: [{ required: true, message: '题目不能为空', trigger: 'change' }],
    selects: [{ required: true, message: '选项不能为空', trigger: 'change' }]
  }

  private downloadLoading = false
  private defaultData:IQuestionData = {
    id:0,
    model_id:1,
    question:undefined,
    selects:[{select:'A',context:''},{select:'B',context:''},{select:'C',context:''}],
    answer:'',
    type:'oneSelect'
  }
  private tempArticleData:IQuestionData = this.defaultData

  created() {
    this.getList()
  }

  private async getList() {
    this.listLoading = true
    this.listQuery.type=this.type
    const { data } = await getList('/questions',this.listQuery)
    this.list = data.list
    this.total = data.total
    // Just to simulate the time of the request
    setTimeout(() => {
      this.listLoading = false
    }, 0.5 * 1000)
  }

  private handleFilter() {
    this.listQuery.page_num = 1
    this.getList()
  }

  private handleModifyStatus(row: any, status: string) {
    this.$message({
      message: '操作成功',
      type: 'success'
    })
    row.status = status
  }

  private resetTempArticleData() {
    this.tempArticleData = cloneDeep(this.defaultData)
  }

  private handleCreate() {
    this.resetTempArticleData()
    this.dialogStatus = 'create'
    this.dialogFormVisible = true
    this.$nextTick(() => {
      (this.$refs.dataForm as Form).clearValidate()
    })
  }

  private createData() {
    (this.$refs.dataForm as Form).validate(async(valid) => {
      if (valid) {
        const articleData:IQuestionData = this.tempArticleData
        if (this.type==='trueFalse') {
          if (articleData.answer===''){
            articleData.answer='正确'
          }
          articleData.selects=this.trueFalseOptions
        }
        articleData.type=this.type
        // articleData.id = Math.round(Math.random() * 100) + 1024 // mock a id
        // articleData.author = 'vue-typescript-admin'
        const { data } = await create('/add_question',articleData)
        // data.article.timestamp = Date.parse(data.article.timestamp)
        // articleData.id = data.data
        // this.list.unshift(articleData)
        this.dialogFormVisible = false
        this.$notify({
          title: '成功',
          message: '创建成功',
          type: 'success',
          duration: 2000
        })
        await this.getList()
      }
    })
  }

  private handleUpdate(row: any) {
    this.tempArticleData = Object.assign({}, row)
    this.dialogStatus = 'update'
    this.dialogFormVisible = true
    this.$nextTick(() => {
      (this.$refs.dataForm as Form).clearValidate()
    })
  }

  private updateData() {
    (this.$refs.dataForm as Form).validate(async(valid) => {
      if (valid) {
        const tempData = Object.assign({}, this.tempArticleData)
        // tempData.timestamp = +new Date(tempData.timestamp) // change Thu Nov 30 2017 16:41:05 GMT+0800 (CST) to 1512031311464
        const { data } = await update('/edit_question',tempData)
        const index = this.list.findIndex(v => v.id === tempData.id)
        this.list.splice(index, 1, tempData)
        this.dialogFormVisible = false
        this.$notify({
          title: '成功',
          message: '更新成功',
          type: 'success',
          duration: 2000
        })
      }
    })
  }

  private handleDelete(row: any, index: number) {
    deleteOne('/del_question',{ id: row.id })
    this.$notify({
      title: 'Success',
      message: 'Delete Successfully',
      type: 'success',
      duration: 2000
    })
    this.list.splice(index, 1)
  }

  private handleDownload() {
    this.downloadLoading = true
    this.dialogUploadVisible = true
    this.downloadLoading = false
  }

  private beforeUpload(file: File) {
    const isLt1M = file.size / 1024 / 1024 < 1
    if (isLt1M) {
      return true
    }
    this.$message({
      message: 'Please do not upload files larger than 1m in size.',
      type: 'warning'
    })
    return false
  }

private getParams(results:any) :IQuestionIPOArr{
  let params:IQuestionIPOArr ={
    arr :new Array<IQuestionIPO>(),
    model_id:1,
    type:this.type
  }
  console.log(results)
  console.log(results.length)
  for (let i=0;i<results.length;i++){
    let tmp:IQuestionIPO={
      a:{select:"A",context:results[i].a},
    b:{select:"B",context:results[i].b},
      c:{select:"C",context:results[i].c},
      answer:results[i].answer,
      question:results[i].question
    }
    console.log(tmp)
    params.arr.push(tmp)
  }
  console.log(params)
    return params
}

  private async handleSuccess({results, header}: { results: any, header: string[] }) {
    console.log(results)
    const params: IQuestionIPOArr = await this.getParams(results)
    console.log(params)
    create("/import_questions", params)
    this.dialogUploadVisible = false
    await this.getList()
  }
}
</script>
