<template>
	<view class="container">
		<view class="logo">
		<u-avatar :src="userInfo.avatarUrl"></u-avatar>
		<view class="u-m-l-24">{{ userInfo.nickname }}</view>
		</view>
		<view>
			<u-cell-group>
				<u-cell-item title="答题记录" @click="showLog()"></u-cell-item>
			</u-cell-group>
		</view>
	</view>
</template>

<script>
export default {
	data() {
		return {
			title: '个人中心'
		}
	},
	onLoad() {},
	methods: {
		showLog(){
			console.log('showlog')
			wx.navigateTo({
				url:'/pages/user/log',
				success:()=> {
					console.log('logse')
				},
				fail:(e)=> {
					console.log('logfail',e)
				}
			})
		}
	}
}
</script>

<style lang="scss">
.container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}

.logo {
	height: 200rpx;
	width: 200rpx;
	margin-top: 200rpx;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50rpx;
}

.text-area {
	display: flex;
	justify-content: center;
}

.title {
  height: 200rpx;
  width: 300rpx;
  margin-top: 200rpx;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50rpx;
	font-size: 36rpx;
	color: #8f8f94;
}
</style>
