<template>
  <div class="components-container">
    <el-upload
      class="avatar-uploader"
      action="/api/v3/upload"
      :show-file-list="false"
      :on-success="handleAvatarSuccess"
      :limit=1
      :on-exceed="handleRemove"
      :on-preview="handlePictureCardPreview"
      :on-remove="handleRemove">
      <div>
        <img v-if="dialogImageUrl" :src="dialogImageUrl" class="avatar">
      </div>
      <div>
        <el-button size="small" type="primary">点击上传</el-button>
      </div>
    </el-upload>
    <el-dialog :visible.sync="dialogVisible">
      <img width="100%" :src="dialogImageUrl" alt="">
    </el-dialog>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import AvatarUpload from '@/components/AvatarUpload/index.vue'
import PanThumb from '@/components/PanThumb/index.vue'
import {create} from "@/api/crud";
import axios from 'axios';

@Component({
  name: 'Background',
  components: {
  }
})
export default class extends Vue {
  private dialogImageUrl: string =''
  private dialogVisible: boolean=false
  upload(param:any) {
    const formData = new FormData()
    formData.append('file', param.file)
    const url = '/upload'
    axios.post(url, formData).then(data => {
      console.log('上传图片成功')
    }).catch(response => {
      console.log('图片上传失败')
    })
  }
  handleUpload(file:any){
    create("/upload",{file:file})
  }
  handleAvatarSuccess(res:any, file:any,fileList:Array<any>) {
    fileList.pop()
    this.dialogImageUrl = URL.createObjectURL(file.raw);
  }

  private handleRemove(file:any, fileList:Array<any>) {
    console.log(file, fileList);
  }

  private handlePictureCardPreview(file:any) {
    this.dialogImageUrl = file.url;
    this.dialogVisible = true;
  }
}
</script>

<style lang="scss" scoped>
.avatar-uploader .el-upload {
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.avatar-uploader .el-upload:hover {
  border-color: #409EFF;
}
.avatar-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 178px;
  height: 178px;
  line-height: 178px;
  text-align: center;
}
.avatar {
  display: block;
}
</style>
