<template>
  <div class="app-container">
    <div class="filter-container">
      <el-date-picker
        v-model="dateRange"
        type="daterange"
        format="yyyy-MM-dd"
        class="el-table-filter"
        :clearable="true"
        value-format="yyyy-MM-dd"
        range-separator=" 至 "
        start-placeholder="开始日期 "
        end-placeholder=" 结束日期">
      </el-date-picker>
      <el-input
        v-model="listQuery.organization"
        :placeholder="$t('table.organization')"
        style="width: 200px;"
        class="el-table-filter"
        @keyup.enter.native="handleFilter"
      />
      <el-button
        v-waves
        class="el-table-filter"
        type="primary"
        icon="el-icon-search"
        @click="handleFilter"
      >
        {{ $t('table.filter') }}
      </el-button>
    </div>

    <el-table
      :key="tableKey"
      v-loading="listLoading"
      :data="list"
      border
      fit
      highlight-current-row
      style="width: 100%;"
    >
      <el-table-column
        :label="$t('table.id')"
        prop="id"
        align="center"
        width="80"
      >
        <template slot-scope="{row}">
          <span>{{ row.id }}</span>
        </template>
      </el-table-column>
      <el-table-column
        :label="$t('table.head_img')"
        min-width="150px"
      >
        <template slot-scope="{row}">
          <img :src="row.head_img"
            class="link-type"
          >
        </template>
      </el-table-column>
      <el-table-column :label="$t('table.nick_name')" min-width="150px">
        <template slot-scope="{row}">
          <span class="link-type" >{{ row.nick_name }}</span>
        </template>
      </el-table-column>
      <el-table-column :label="$t('table.organization')" min-width="150px">
        <template slot-scope="{row}">
          <span class="link-type">{{ row.organization }}</span>
        </template>
      </el-table-column>
      <el-table-column label="回答总数" min-width="150px">
        <template slot-scope="{row}">
          <span class="link-type" >{{ row.total_count }}</span>
        </template>
      </el-table-column>
      <el-table-column label="正确数量" min-width="150px">
        <template slot-scope="{row}">
          <span class="link-type" >{{ row.right_count }}</span>
        </template>
      </el-table-column>
      <el-table-column label="错误数量" min-width="150px">
        <template slot-scope="{row}">
          <span class="link-type" >{{ row.wrong_count }}</span>
        </template>
      </el-table-column>
    </el-table>

    <pagination
      v-show="total>0"
      :total="total"
      :page.sync="listQuery.page_num"
      :limit.sync="listQuery.page_size"
      @pagination="getList"
    />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import { Form } from 'element-ui'
import { cloneDeep } from 'lodash'
import { getList, getOne, create, update, deleteOne } from '@/api/crud'
import { IUsers } from '@/api/types'
import { exportJson2Excel } from '@/utils/excel'
import { formatJson } from '@/utils'
import Pagination from '@/components/Pagination/index.vue'
import UploadExcelComponent from '@/components/UploadExcel/index.vue'

const calendarTypeOptions = [
  { key: 'CN', displayName: 'China' },
  { key: 'US', displayName: 'USA' },
  { key: 'JP', displayName: 'Japan' },
  { key: 'EU', displayName: 'Eurozone' }
]

// arr to obj, such as { CN : "China", US : "USA" }
const calendarTypeKeyValue = calendarTypeOptions.reduce((acc: { [key: string]: string }, cur) => {
  acc[cur.key] = cur.displayName
  return acc
}, {}) as { [key: string]: string }

@Component({
  name: 'Users',
  components: {
    UploadExcelComponent,
    Pagination
  },
  filters: {
    typeFilter: (type: string) => {
      return calendarTypeKeyValue[type]
    }
  }
})
export default class extends Vue {
  private tableKey = 0
  private list: IUsers[] = []
  private total = 0
  private listLoading = true
  private dateRange : Array<string> =[]
  private listQuery  = {
    page_num: 1,
    page_size: 20,
    start: '',
    end: '',
    organization: '',
  }

  private importanceOptions = [1, 2, 3]
  private calendarTypeOptions = calendarTypeOptions
  private sortOptions = [
    { label: 'ID Ascending', key: '+id' },
    { label: 'ID Descending', key: '-id' }
  ]

  private statusOptions = ['published', 'draft', 'deleted']
  private showReviewer = false
  private dialogFormVisible = false
  private dialogStatus = ''
  private textMap = {
    update: 'Edit',
    create: 'Create'
  }

  private dialogPageviewsVisible = false
  private pageviewsData = []
  private rules = {
    type: [{ required: true, message: 'type is required', trigger: 'change' }],
    timestamp: [{ required: true, message: 'timestamp is required', trigger: 'change' }],
    title: [{ required: true, message: 'title is required', trigger: 'blur' }]
  }

  private downloadLoading = false

  created() {
    this.getList()
  }

  private async getList() {
    this.listLoading = true
    if (this.dateRange){
      this.listQuery.start=this.dateRange[0]
      this.listQuery.end=this.dateRange[1]
    }else {
      this.listQuery.start=''
      this.listQuery.end=''
    }
    const { data } = await getList('/dati_users', this.listQuery)
    this.list = data.list
    this.total = data.total
    // Just to simulate the time of the request
    setTimeout(() => {
      this.listLoading = false
    }, 0.5 * 1000)
  }

  private handleFilter() {
    this.listQuery.page_num = 1
    this.getList()
  }

  private handleModifyStatus(row: any, status: string) {
    this.$message({
      message: '操作成功',
      type: 'success'
    })
    row.status = status
  }

  private handleDownload() {
    this.downloadLoading = true
    const tHeader = ['timestamp', 'title', 'type', 'importance', 'status']
    const filterVal = ['timestamp', 'title', 'type', 'importance', 'status']
    const data = formatJson(filterVal, this.list)
    exportJson2Excel(tHeader, data, 'table-list')
    this.downloadLoading = false
  }
}
</script>
