<template>
	<view style="background: url(../../../static/background.jpg) no-repeat center center; background-size: 750rpx; height: 1114rpx;">
		<view style="text-align: center;">
			<image style="width: 361rpx;height: 64rpx;left: 80rpx;margin-top: 80rpx;" src="/static/title.png"></image>
		</view>
		<view>
			<block>
				<v-title style="font-size: large;" :text="questionList[qindex].question"></v-title>
			</block>
			<block>
				<u-radio-group :wrap="true" width="100%" size="50">
					<u-radio 
					v-for="(item, index) in questionList[qindex].selects" :key="index"
					:name="item.select"
					:disabled="item.active"
					@change="checkOption()"
					style="font-size: medium;"
					>{{item.select}}{{item.context}}</u-radio>
				</u-radio-group>
			</block>
			<u-button type="primary"  @click="nextAnswer()">{{isEnd ? '提  交' : '下 一 题'}}</u-button>
		</view>
	</view>
</template>

<script>
	import checkXi from '../../../components/xi-check/xi-check.vue'
	export default{
		components: {
			checkXi
		},
		data() { //模拟数据
			return {
				title: "全民学党史",
				colorStyle: { // 颜色修改自定义 -- 若需修改必须全部都要有！！！
					nextBac: '#C9784F', //下一题按钮背景色
					nextCol: '#FFFFFF', //下一题按钮背字体颜色
					optBac: '#EEB67A', //选项按钮背景色
					optCol: '#232131', //选项按钮字体颜色
					optBacActive: '#C9784F', //选项按钮背景色 - 选中
					optColActive: '#FFFFFF', //选项按钮字体颜色-选中
				},
				questionList:[],
				question:{},
				qindex:0,
				isEnd:false,
				answers:[]
			}
		},
		onLoad() {
			console.log("onload")
			this.$u.route('/pages/user/login/login')
			
		},
		async created() {
			this.questionList = await this.getQuestions()
			console.log("create")
		},
		methods: {
			getQuestions() {
				return new Promise((resolve,reject)=>{
					uni.request({
						url: 'http://localhost:8001/api/v3/rand_questions', //登录的域名完整链接，可以换成你们自己的。
						data: {
							openid: "jdflsall;dfsa",
						},
						method: 'GET',
						header: {
							'content-type': 'application/json'
						},
						success: (res) => {
							// uni.reLaunch({ //成功后跳转到小程序首页，由于没得界面，我就屏蔽了。
							// 	url: '/pages/index/index'
							// });
							console.log(res)
							resolve(res.data.data.list)
						},
					})
				})
			},
			/**
			 * 绑定选择答案事件
			 */
			nextAnswer(e) {
				console.log(e)
				if (this.qindex<this.questionList.length-1){
					this.qindex=this.qindex+1
				}
				if(this.qindex>=this.questionList.length-1){
					this.isEnd=true
				}
				if(this.isEnd===true){
					
				}
				uni.request({
					url:'',
					method:'POST',
					data:{
						answers:this.answers,
						openid:UserInfo.openId
					}
				})
				console.log('next', e);
			},
			checkOption(e) {
				console.log(e)
				this.answers[this.qindex]=e
			},
		}
	}
</script>

<style lang="scss">
	.container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.logo {
		height: 200rpx;
		width: 200rpx;
		margin-top: 200rpx;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 50rpx;
	}

	.text-area {
		display: flex;
		justify-content: center;
	}

	.title {
		height: auto;
		width: auto;
		margin-top: 30rpx;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 50rpx;
		font-size: 56rpx;
		color: #8f8f94;
	}
</style>
