<script>
export default {
	onLaunch: function() {
		// this.$u.wx.wxOauth()
	},
	onShow: function() {},
	onHide: function() {}
}
</script>

<style lang="scss">
@import 'uview-ui/index.scss';
/*每个页面公共css */
@import './common/common.style.scss';
/*toast字体图标*/
@import './components/iconfont.css';
</style>
