<template>
	<view>
			<block
			v-for="(item, index) in log.list" :key="index"
			>
				{{item.date}}
			</block>
	</view>
</template>

<script>
	export default{
		data(){
			return {
				log:{list:[]}
			}
		},
		onLoad() {
			
		},
		async created() {
			this.log= await uni.request({
						url:'http://localhost:8001/api/v3/user_question_log',
						data:{
							openid:"5343fm34fmkmf34"
						}
					})
		},
		methods:{
			
		}
	}
</script>

<style>
</style>
